<div class = "container-fluid">
    <p class="heading"> we're looking for new homes </p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let dog of datadog">
            <a [href]="'/dogs/'+dog.id">
                <div class="card"  >
                    <div class="imgbox">
                        <div class="img"></div>
                        <img class = "card-img-top" [src]="dog.img">
                    </div>
                    <div class="details">
                        <h2 class="title">{{dog.name}}</h2>
                        <span class="caption">{{dog.age}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
