<p class="heading"> Cat Adoption </p>
<div class = "container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let cat of datacat">
            <a [href]="'/cats/'+cat.id">
                <div class="card"  >
                    <div class="imgbox">
                        <div class="img"></div>
                        <img class = "card-img-top" [src]="cat.img">
                    </div>
                    <div class="details">
                        <h2 class="title">{{cat.name}}</h2>
                        <span class="caption">{{cat.age}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


