<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <img
        src="https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="team"
        alt="about"
      />
    </div>
    <div class="col">
      <p class="head">Get to know us</p>
      <p class="b">
        Adopting a pet is one of the very best ways to bring more happiness into
        your world.
      </p>
      <p class="b">
        So we're making this website with tools, advice and transparency you
        need to help millions of people and pets find each other.
      </p>
      <p class="b">Ready to find you Pet? Let's do it</p>
    </div>
  </div>
</div>

<div class="container mt-5 py-5">
  <p class="head">Our team</p>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="img-card"></div>
        <img src="https://cdn.discordapp.com/attachments/981214536872919160/1097971169946239006/13ACC0EF-9426-4A39-A936-AA41D625DF44.jpg" class="team" alt="Ple" > 
        <div class="info-card">
          <p><strong>Sasitorn Karaket</strong></p>
          <p>6304022610359</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="img-card"></div>
        <img src="https://cdn.discordapp.com/attachments/981214536872919160/1097971283427328071/8BDF0AED-35E4-463F-AD20-68822186EF38.jpg" class="team" alt="ju" > 
        <div class="info-card">
          <p><strong>Pakaphong Chamnansilp</strong></p>
          <p>6304022630171</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="img-card"></div>
        <img src="https://cdn.discordapp.com/attachments/981214536872919160/1097970809894621194/4F4D21F8-B1E2-4550-8E86-EBEE5E7E8B41.jpg" class="team" alt="rose" > 
        <div class="info-card">
          <p><strong>Wanwisa Wongmee</strong></p>
          <p>6304022630210</p>
        </div>
      </div>
    </div>
  </div>
</div>
