<div class="container-fluid">
    <div class="m-3 p-3">
        <div class="m-3 p-3">
            <div class="row">
                <div class="col-4"></div>
                    <div class="form">
                        <p class="heading">Sign up</p>
                        <input class="input" placeholder="Email" type="Email">
                        <input class="input" placeholder="Username" type="text">
                        <input class="input" placeholder="Password" type="text"> 
                        <button class="btn">Sign up</button>
                        <p>Have an account? 
                            <a routerLinkActive="active" routerLink="/login" ><b> Login</b></a>
                        </p>
                    </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>


